<div class="mt-4", style="font-family: Hannotate SC;">
  <h1 class="text-center">About</h1><br>
    <div class="text-center">
      ながのCAKEは全国発送可能なケーキ屋さんです。<br><br><br>
      お子様からお年寄りの方までお召し上がりいただけるよう、<br><br><br>
      様々なバリエーションをご用意しております。<br><br><br>
      また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br><br><br>
      ぜひご注文ください。
    </div>
</div>
