<div class="container-fulid thanx">
  <div class="row">
    <div class="col-md-10 offset-1" style="height: 600px; padding-top: 230px;">
    	<h1 class="text-center text-white">ご購入ありがとうございました！😆🍰🎉</h1>
    </div>
  </div>
</div>